
html { 
    background:url("https://img.wallpapersafari.com/desktop/1366/768/99/67/Bplt2F.jpg");
    background-repeat: no-repeat;
    background-size:auto 100%;
    background-position: left;
    background-color: black;
    height: 100%;
}

.center-content{
    position: absolute;
    left: 50%;
}

h1{
    position: relative;
    left: -15%;
    background: url(https://image.freepik.com/free-photo/beautiful-colorful-sunset_1048-2416.jpg) -80px -80px;
    color: red;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    font-size: 100px;
    font-family: arial, helvetica;
    width: 600px;
    text-align: center;
  }


label{
    color: white;
}

.new-user{
    padding-left: 38rem;
}

.explore-button{
    width: 200px;
}

.explore-button input[type="submit"]{
    margin: 1em;
    font-size: 40px;
    color: white;
    background: #cd954aa6;
    border: 2px solid rgb(37, 34, 34);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.practice-button input[type="submit"]{
    margin: 1em;
    font-size: 40px;
    color: white;
    background: #cd954aa6;
    border: 2px solid rgb(37, 34, 34);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.practice-button{
    width: 200px;
}

.user-page{
    position: absolute;
    bottom: 60px;
    left: 70%;
    color: white
}

