html { 
    background:url("https://wallpapercave.com/wp/wp3431939.jpg") center no-repeat;
    height: 100%;
    width: 100%;
    background-color: black;
}

h1 {
    display: table; /* keep the background color wrapped tight */
    margin: 0px auto 0px auto; /* keep the table centered */
    padding:5px;background-color: rgba(225, 225, 225, .8);color: black;
}
