html { 
    /* background:url("https://wallpapercave.com/wp/wp3431939.jpg") right top no-repeat; */
    background: linear-gradient(to left, transparent, 20%, black 70%, black),
      url("https://wallpapercave.com/wp/wp3431939.jpg");
    background-position: right;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-color: black;
}
h1 { 
    display: table; /* keep the background color wrapped tight */
    margin: 0px auto 0px auto; /* keep the table centered */
    padding:5px;
    /* background-color: rgba(225, 225, 225, .8); */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.delete-books {
    text-align: left;
    color: white;
    font-size: 30px;
    margin: 100px 100px ;
}
   input[type=submit] {
    width: 270px;
      background-color: white;
      padding: 13px 10px;
      border: none;
      color: black;
      font-size: 20px;
  }
.book-list {
    font-size: 30px;
    padding-left: 20%;
    display: table; /* keep the background color wrapped tight */
    margin: 70px 100px ;
    padding:5px;background-color: rgba(225, 225, 225, .8);
}
form {
    width: max-content;
}

.update-user{
    text-align: left;
    color: white;
    font-size: 30px;
    margin: 0px 100px ;
}

.update-user :nth-child(1) {
    position: absolute;
    /* margin: -150px auto 0px auto; */
    margin-top: -50px;
}

.update-user :nth-child(3){
    height:46px; 
    font-size: 20px;
    border-radius: 5px;
}

/* h2 {
    margin: 100px, 100px;
} */

.no-color {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 100px;
    font-weight: bold;
    
}



